<section class="card mt-3">
  <div class="card-header bg-dark text-white">
    <h4 class="mb-0">Casa</h4>
  </div>
  <div class="card-body row g-3 mt-0">

    <div class="form-group">
      <label for="casatipo">Tipo de Vivienda</label>
      <select class="form-select is-invalid" id="casatipo" name="casatipo">
        <option value="" selected disabled>Seleccione una opción</option>
        <option value="">...</option>
      </select>
    </div>

    <div class="form-group">
      <label for="casacondicion">Condición</label>
      <select class="form-select is-invalid" id="casacondicion" name="casacondicion">
        <option value="" selected disabled>Seleccione una opción</option>
        <option value="">...</option>
      </select>
    </div>

    <div class="form-group">
      <label for="casamediotraslado">¿Cómo se trasladará a su lugar de estudios?</label>
      <select class="form-select is-invalid" id="casamediotraslado" name="casamediotraslado">
        <option value="" selected disabled>Seleccione una opción</option>
        <option value="">...</option>
      </select>
    </div>

  </div>
</section>