<div class="container my-5">
  <nav>
    <ul class="nav nav-tabs mb-3" id="nav-tab" role="tablist">

      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="nav-inscripciones-tab" data-bs-toggle="tab"
          data-bs-target="#nav-inscripciones" type="button" role="tab" aria-controls="nav-inscripciones" aria-selected="true">Inscripciones</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="exportados-tab" data-bs-toggle="tab" data-bs-target="#nav-exportados" type="button"
          role="tab" aria-controls="nav-exportados" aria-selected="false">Exportados</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="sysacad-tab" data-bs-toggle="tab" data-bs-target="#nav-sysacad" type="button"
          role="tab" aria-controls="nav-sysacad" aria-selected="false">Sysacad</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="excepcion-tab" data-bs-toggle="tab" data-bs-target="#nav-excepcion" type="button"
          role="tab" aria-controls="nav-excepcion" aria-selected="false">Excepción</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="configuracion-tab" data-bs-toggle="tab" data-bs-target="#nav-configuracion"
          type="button" role="tab" aria-controls="nav-configuracion" aria-selected="false">Configuración</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="preguntas-tab" data-bs-toggle="tab" data-bs-target="#nav-preguntas" type="button"
          role="tab" aria-controls="nav-preguntas" aria-selected="false">Preguntas</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="usuarios-tab" data-bs-toggle="tab" data-bs-target="#nav-usuarios" type="button"
          role="tab" aria-controls="nav-usuarios" aria-selected="false">Usuarios</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="exportar-tab" data-bs-toggle="tab" data-bs-target="#nav-exportar" type="button"
          role="tab" aria-controls="nav-exportar" aria-selected="false">Exportar</button>
      </li>

    </ul>


    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="nav-inscripciones" role="tabpanel" aria-labelledby="nav-inscripciones-tab" tabindex="0">
        <app-inscripciones></app-inscripciones>
      </div>
      <div class="tab-pane fade" id="nav-exportados" role="tabpanel" aria-labelledby="nav-exportados-tab" tabindex="0">
        <app-exportados></app-exportados>
      </div>
      <div class="tab-pane fade" id="nav-sysacad" role="tabpanel" aria-labelledby="nav-sysacad-tab" tabindex="0">
        <app-sysacad></app-sysacad>
      </div>
      <div class="tab-pane fade" id="nav-excepcion" role="tabpanel" aria-labelledby="nav-excepcion-tab" tabindex="0">
        <app-excepcion></app-excepcion>
      </div>
      <div class="tab-pane fade" id="nav-configuracion" role="tabpanel" aria-labelledby="nav-configuracion-tab" tabindex="0">
        <app-configuracion></app-configuracion>
      </div>
      <div class="tab-pane fade" id="nav-preguntas" role="tabpanel" aria-labelledby="nav-preguntas-tab" tabindex="0">
        <app-preguntas></app-preguntas>
      </div>
      <div class="tab-pane fade" id="nav-usuarios" role="tabpanel" aria-labelledby="nav-usuarios-tab" tabindex="0">
        <app-usuarios></app-usuarios>
      </div>
      <div class="tab-pane fade" id="nav-exportar" role="tabpanel" aria-labelledby="nav-exportar-tab" tabindex="0">
        <app-exportar></app-exportar>
      </div>
    </div>
  </nav>
</div>