<div class="row mx-auto">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button (click)="navigateInscripciones()" class="nav-link active" id="Inscripciones-tab" data-bs-toggle="tab"
          data-bs-target="#Inscripciones" type="button" role="tab" aria-selected="true">Inscripciones</button>
        <button (click)="navigateExportados()" class="nav-link" id="exportados-tab" data-bs-toggle="tab"
          data-bs-target="#exportados" type="button" role="tab" aria-selected="false">Exportados</button>
        <button (click)="navigateSysacad()" class="nav-link" id="sysacad-tab" data-bs-toggle="tab"
          data-bs-target="#sysacad" type="button" role="tab" aria-selected="false">Sysacad</button>
        <button (click)="navigateExcepcion()" class="nav-link" id="excepcion-tab" data-bs-toggle="tab"
          data-bs-target="#excepcion" type="button" role="tab" aria-selected="false">Excepcion</button>
        <button (click)="navigateConfiguracion()" class="nav-link" id="configuracion-tab" data-bs-toggle="tab"
          data-bs-target="#configuracion" type="button" role="tab" aria-selected="false">Configuracion</button>
        <button (click)="navigatePreguntas()" class="nav-link" id="preguntas-tab" data-bs-toggle="tab"
          data-bs-target="#preguntas" type="button" role="tab" aria-selected="false">Preguntas</button>
        <button (click)="navigateUsuarios()" class="nav-link" id="usuarios-tab" data-bs-toggle="tab"
          data-bs-target="#usuarios" type="button" role="tab" aria-selected="false">Usuarios</button>
        <button (click)="navigateExportar()" class="nav-link" id="exportar-tab" data-bs-toggle="tab"
          data-bs-target="#exportar" type="button" role="tab" aria-selected="false">Exportar</button>
      </div>
    </nav>
  </div>
</div>