<section class="card mt-3">
  <div class="card-header bg-dark text-white">
    <h4 class="mb-0">Contacto</h4>
  </div>
  <div class="card-body row g-3 mt-0">

    <div class="form-group telefono row">

      <div class="col-12 col-md-6">
        <label for="contactotelefonofijo">Teléfono Fijo</label>
        <div class="input-group">
          <input type="phone" name="contactotelefonofijo" pattern="\d*" maxlength="13" class="form-control"
            value="{{ inscripcion.contactotelefonofijo }}" placeholder="Ingrese el número de teléfono" required>
        </div>
      </div>

      <div class="col-12 col-md-6">
        <label for="contactotelefonomovil">Teléfono Móvil</label>
        <div class="input-group">
          <input type="phone" name="contactotelefonomovil" pattern="\d*" maxlength="13" class="form-control"
            value="{{ inscripcion.contactotelefonomovil }}" placeholder="Ingrese el número de teléfono" required>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="contactoemail">Correo Electrónico</label>
      <input type="email" class="form-control" id="contactoemail" name="contactoemail" readonly="true"
        value="{{ inscripcion.contactoemail }}" required>
      <div class="invalid-feedback"></div>
    </div>

    <div class="form-group">
      <label for="contactoemailalternativo">Correo Electrónico Alternativo</label>
      <input type="email" class="form-control" id="contactoemailalternativo" name="contactoemailalternativo"
        value="{{ inscripcion.contactoemailalternativo }}">
    </div>

    <h5 class="text-dark">¿A quién recurrir en caso de que lo necesites?</h5>

    <div class="form-group emergenciacontacto">
      <label for="emergenciacontacto">Contacto</label>
      <input type="text" class="form-control" name="emergenciacontacto" value="{{ inscripcion.emergenciacontacto }}">
    </div>

    <div class="form-group emergenciatelefono">
      <label for="emergenciatelefono">Tel&eacute;fono (incluir característica)</label>
      <input type="text" class="form-control" name="emergenciatelefono" value="{{ inscripcion.emergenciatelefono }}">
    </div>

  </div>
</section>