<style>

</style>

<body>

  <div class="container text-center">

    <div class="pb-2"><img class="logo img-fluid for-light" src="../../../../assets/images/home/logo-utn-white.png">

      <div class="bg-white mt-3 form-login">

        <h3 class="form-signin-heading pb-0 pt-3 mb-0 text-left"> Iniciar sesión</h3>
        <p class="pt-0">Personal de Alumnado y Posgrado</p>
        <h2 class="text-center mb-2">Gestor Inscripciones</h2>

        <form class="form-signin text-center" #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">

          <div class="container row p-3 m-0 g-3">

            <div *ngIf="alert.status === 'success'" class="alert alert-success m-0 p-1" role="alert">
              <p class="mb-0">{{ alert.message }}</p>
            </div>

            <div *ngIf="alert.status === 'error'" class="alert alert-danger m-0 p-1" role="alert">
              <p class="mb-0">{{ alert.message }}</p>
            </div>

            <input type="text" name="username" class="form-control" placeholder="Usuario" ngModel required />


            <input type="password" name="password" class="form-control" placeholder="Contraseña" ngModel required />


            <button class="btn btn-primary" type="submit" name="">Ingresar</button>
          </div>


          
        </form>

      </div>
    </div>
  </div>



</body>