<app-header></app-header>

<div class="container my-4">

  <form class="was-validated" #formUpdate="ngForm" (ngSubmit)="UpdateForm(formUpdate)">

    <!---------------------------------------- SECCIONES -------------------------------------------->

    <app-section-carrera></app-section-carrera>

    <app-section-datos-personales></app-section-datos-personales>

    <!-- <app-section-discapacidad></app-section-discapacidad> -->

    <!-- <app-section-nacimiento></app-section-nacimiento> -->

    <app-section-domicilio></app-section-domicilio>

    <!-- <app-section-contacto></app-section-contacto> -->

    <!-- <app-section-secundario></app-section-secundario> -->

    <!-- <app-section-estudios></app-section-estudios> -->

    <!-- <app-section-otros></app-section-otros> -->

    <app-section-trabajo></app-section-trabajo>

    <!-- <app-section-deporte></app-section-deporte> -->

    <!-- <app-section-tecnologia></app-section-tecnologia> -->

    <!-- <app-section-familia></app-section-familia> -->

    <!-- <app-section-casa></app-section-casa> -->

    <div class="container text-center mt-3">
      <button type="submit" class="btn btn-lg btn-success">Finalizar Inscripción</button>
    </div>

  </form>

</div>

<app-footer></app-footer>