<app-header></app-header>

<div class="container my-4">

  <form class="was-validated">

    <!---------------------------------------- SECCIONES -------------------------------------------->

    <!-- CARRERA  -->
    <app-section-carrera></app-section-carrera>

    <!-- DATOS PERSONALES  -->
    <app-section-datos-personales></app-section-datos-personales>

    <!-- DISCAPACIDAD -->
    <app-section-discapacidad></app-section-discapacidad>

    <!-- NACIMIENTO  -->
    <app-section-nacimiento></app-section-nacimiento>

    <!-- DOMICILIO  -->
    <app-section-domicilio></app-section-domicilio>

    <!-- CONTACTO  -->
    <app-section-contacto></app-section-contacto>

    <!-- SECUNDARIO -->
    <app-section-secundario></app-section-secundario>

    <!-- ESTUDIOS UNIVERSITARIOS O SUPERIORES  -->
    <app-section-estudios></app-section-estudios>

    <!-- OTROS ESTUDIOS -->
    <app-section-otros></app-section-otros>

    <!-- TRABAJO  -->
    <app-section-trabajo></app-section-trabajo>

    <!-- DEPORTE  -->
    <app-section-deporte></app-section-deporte>

    <!-- TECNOLOGÍA -->
    <app-section-tecnologia></app-section-tecnologia>

    <!-- FAMILIA -->
    <app-section-familia></app-section-familia>

    <!-- CASA -->
    <app-section-casa></app-section-casa>

    <div class="container text-center mt-3">
      <button type="submit" class="btn btn-lg btn-success">Finalizar Inscripción</button>
    </div>
  </form>

</div>

<app-footer></app-footer>