<section class="card mt-3">
  <div class="card-header bg-dark text-white">
    <h4 class="mb-0">Domicilio (como figura en su documento)</h4>
  </div>
  <div class="card-body row g-3 mt-0">

    <div class="form-group">
      <label for="domiciliocalle">Calle</label>
      <input type="text" class="form-control" id="domiciliocalle" name="domiciliocalle" value="{{ inscripcion.domiciliocalle }}" required>
    </div>

    <div class="form-group">
      <label for="domicilionumero">Número</label>
      <input type="text" class="form-control" id="domicilionumero" name="domicilionumero" value="{{ inscripcion.domicilionumero }}" required>
    </div>

    <div class="form-group">
      <label for="domiciliopiso">Piso</label>
      <input type="text" class="form-control" id="domiciliopiso" name="domiciliopiso" value="{{ inscripcion.domiciliopiso }}">
    </div>

    <div class="form-group">
      <label for="domiciliolocalidad">Ciudad o localidad</label>
      <input type="text" class="form-control" id="domiciliolocalidad" name="domiciliolocalidad" value="{{ inscripcion.domiciliolocalidad }}" required>
    </div>

    <div class="form-group">
      <label for="domiciliopartido">Partido</label>
      <input type="text" class="form-control" id="domiciliopartido" name="domiciliopartido" value="{{ inscripcion.domiciliopartido }}">
    </div>

    <div class="form-group">
      <label for="domicilioprovincia">Provincia o estado</label>
      <input type="text" class="form-control" id="domicilioprovincia" name="domicilioprovincia" value="{{ inscripcion.domicilioprovincia }}" required>
    </div>

    <div class="form-group">
      <label for="domiciliocp">Código Postal</label>
      <input type="text" class="form-control" id="domiciliocp" name="domiciliocp" value="{{ inscripcion.domiciliocp }}" required>
    </div>

  </div>
</section>