<section class="card mt-3">
  <div class="card-header bg-dark text-white">
    <h4 class="mb-0">Otros Estudios</h4>
  </div>
  <div class="card-body row g-3 mt-0">

    <div class="form-group">
      <label for="otrosestudiostipo">Tipo</label>
      <select class="form-select is-invalid" id="otrosestudiostipo" name="otrosestudiostipo">
        <option value="" selected disabled>Seleccione una opción</option>
        <option value="">...</option>
      </select>
    </div>

    <div class="form-group">
      <label for="otrosestudioscarrera">Carrera</label>
      <input type="text" class="form-control" id="otrosestudioscarrera" name="otrosestudioscarrera" value="{{ inscripcion.otrosestudioscarrera }}">
    </div>

    <div class="form-group">
      <label for="otrosestudiosinstitucion">Institución</label>
      <input type="text" class="form-control" id="otrosestudiosinstitucion" name="otrosestudiosinstitucion" value="{{ inscripcion.otrosestudiosinstitucion }}">
    </div>

    <div class="form-group">
      <label for="otrosestudiosmateriasaprobadas">Cantidad de Materias Aprobadas</label>
      <input type="text" class="form-control" id="otrosestudiosmateriasaprobadas" name="otrosestudiosmateriasaprobadas" value="{{ inscripcion.otrosestudiosmateriasaprobadas }}">
    </div>

    <div class="form-group">
      <label for="otrosestudiosestado">Estado</label>
      <select class="form-select is-invalid" id="otrosestudiosestado" name="otrosestudiosestado">
        <option value="" selected disabled>Seleccione una opción</option>
        <option value="">...</option>
      </select>
    </div>

  </div>
</section>